.c-table-grey {
  background-color: rgb(242, 242, 242);
}

.c-sample {
  &-header {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    &-input {
      display: flex;
      flex: 1;

      &-text {
        margin-right: 20px;
      }

      &-time,
      &-batch {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-btn {
      width: 500px;
      display: flex;
      justify-content: space-between;

      &-download {
        margin: 0 20px;
      }
    }
  }
}