.c-swiper {
    // width: calc(100% - 190px);
    width: 100%;
    height:calc(100vh - 60px) ;
    display: flex;
    justify-content: center;
    align-items: center;
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    width: 100px;
    text-align: center;
    color: white;
    background-color: #108ee9;
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
  }
  .one-page {
    flex-flow: column;
  }
  .stack-line {
    margin: 10px;
    height: calc(100% - 40px);
  }
  .heat-map {
    margin: 10px;
    height: calc(100% - 40px);
  }
  .rate {
    display: flex;
    width: 200px;
    justify-content: space-between;
    top: 5%;
    right: 10px;
    position: absolute;
  }
  .content {
    position: relative;
    width: calc(100% - 80px);
    height: calc((100% - 20px) / 2);
    margin: 10px 0;
  }

  .two-page {
  }
}
