.s-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .s-menu {
        position: absolute;
        top: 0;
        right: 10%;
        z-index: 999;
        .s-active{
            background-color: rgb(9, 85, 117);
        }
    }
}
