.c-home {
    padding-top: 25px;
    padding: 0 20px;
    width: 100%;
    .menu {
        display: flex;
        margin-bottom: 20px;
        .btn {
            position: absolute;
            right: 10%;
        }
    }
    .c-search {
        display: flex;
        margin-bottom: 5px;
        justify-content: space-between;
        .c-input {
            display: flex;
            width: 20vw;
            align-items: center;
            .ant-input {
                width: 13vw;
                margin: 0 5px;
            }
        }
    }
}
